body {
    font-family: 'Stylish' Arial, sans-serif;
    font-size: 100%;
	line-height: 1.6;
    background: url(dustin-lee-19666-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

h2, p {
    text-align: center;
    font-weight: bold;
    position: center;
    padding: 10px;
    text-transform: uppercase;
}

h2 {
    color: #333333;
}

p {
    color: rgb(199, 199, 199);
}

.centered {
    position: fixed;
    top: 30%;
    width: 100%;
}


